<div class="row" id="split-row">
  <div class="col-sm-4" id="spit-left-col">
    <% if @albums %>
        <%= partial :split_left_albums %>
    <% elsif @artists %>
        <%= partial :split_left_artists %>
    <% elsif @tags %>
        <%= partial :split_left_tags %>
    <% elsif @stars %>
        <%= partial :split_left_stars %>
    <% elsif @searches %>
        <%= partial :split_left_searches %>
    <% end %>
  </div>
  <div class="col-sm-8 table-container" id="split-right-col">
    Select an item
  </div>
</div>
