<ul class="list-group split-left-group">
  <% @albums.each do |e| %>
      <li class="list-group-item category-list-item" data-type="album" data-id="<%= e.id %>">
        <img src="<%= e.image_url %>">
        <span>
          <p class="album-name" style="font-size: 16px;"><%= e.name %> <i class="fa fa-info-circle"></i></p>
          <p class="album-other"><%= to_html e.year %> <%= to_html e.artists %></p>
        </span>
      </li>
  <% end %>
</ul>
